#{extends 'main.html' /}
#{set title:'Deploy Pattern' /}

<ul class="breadcrumb">
  <li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
  <li><a href="@{PatternsController.list()}">Patterns</a> <span class="divider">/</span></li>
  <li class="active">Deploy</li>
</ul>

#{ifErrors}
	<div class="alert-message error">
        <a class="close" href="#">&times;</a>
        <p><strong>Some values are invalid, please fix them...</strong></p>
        <ul>
         #{errors}
       		<li>${error}</li>
   		#{/errors}
   		</ul>
      </div>
#{/ifErrors}

<div class="well">
#{form @PatternsController.deployToRuntime()}
<legend>Deploy a new Pattern in the CEP</legend>
		<fieldset>
				<div class="clearfix">
        			<label for="pattern">
        				Pattern
     				</label>
        			<div class="input">
        				<textarea rows="20" class="input-xxlarge" name="pattern" id="pattern" class="xlarge" size="50" value="${flash.pattern}">${flash.pattern}</textarea>
        			</div>
        		</div>
				<div class="form-actions">
				  <button type="submit" class="btn btn-primary">Deploy</button>
				  <button type="button" class="btn">Cancel</button>
				</div>
        </fieldset>
#{/form}
</div>