#{extends 'main.html' /} #{set title:'Patterns' /}

<div class="page-header">
	<h1>Registered Patterns&nbsp;<small>in the governance registry</small></h1>
</div>

<div class="accordion" id="accordion2">
  %{int i = 0}%
  #{list list, as : 'p'}
  %{i++}%
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_${i}">
        ${p.name} - Created on ${Long.parseLong(p.recordDate).asdate('dd MMMM yyyy hh:mm:ss')}
      </a>
    </div>
    <div id="collapse_${i}" class="accordion-body collapse">
      <div class="accordion-inner">
      	<p>
        <a class="btn">Download</a>&nbsp;<a class="btn">Remove</a><br>
        </p>
        <p>
        <pre class=".pre-scrollable">${p.content}</pre>
        </p>
      </div>
    </div>
  </div>
  #{/list}
</div>