#{extends 'main.html' /} #{set title:'Patterns' /}

<div class="page-header">
	<h1>Registered Patterns&nbsp;<small>in the governance registry</small></h1>
</div>

<div class="accordion" id="accordion2">
  %{int i = 0}%
  #{list list, as : 'p'}
  %{i++}%
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_${i}">
        ${p.name} - Created on ${Long.parseLong(p.recordDate).asdate('dd MMMM yyyy hh:mm:ss')}
      </a>
    </div>
    <div id="collapse_${i}" class="accordion-body collapse">
      <div class="accordion-inner">
		<p>
      		<h4>ID : ${p.name}<small>&nbsp;Created on ${Long.parseLong(p.recordDate).asdate('dd MMMM yyyy hh:mm:ss')}</small></h4>
		</p>
		<p>
			<div class="row">
	  			<div class="span1"><a class="btn btn-danger disabled">Remove</a></div>
	  			<div class="span1">
					#{form @PatternsController.deployFrom()}
						<input type="hidden" id="pattern" name="pattern" value="${p.content}"/>
						<button type="submit" class="btn">Deploy</button>
					#{/form}
				</div>
	  			<div class="span1">
	  				#{form @PatternsController.download(p.name)}
						<input type="hidden" id="pattern" name="pattern" value="${p.content}"/>
						<button type="submit" class="btn">Download</button>
					#{/form}
	  			</div>
			</div>
        </p>
        <p>
	        <pre class=".pre-scrollable">${p.content}</pre>
        </p>
      </div>
    </div>
  </div>
  #{/list}
</div>