#{extends 'main.html' /}
#{set title:'Topics' /}

<div class="page-header">
    <h1>Services</h1>
</div>

#{if services}
	<table class="zebra-striped">
        <thead>
          <tr>
          	<th>#</th>
            <th>Name</th>
            <th>URL</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        %{int i = 0}%
        #{list services, as : 's'}
          <tr>
          <td align="left">${i++}</td>
            <td><b>${s.name}</b></td>
            <td><a href="${s.baseURL}" target="_blank">${s.baseURL}</a></td>
            <td><a href="@{RegistryController.service(s.name)}">Details</a></td>
          </tr>
        #{/list}
        </tbody>
      </table>
#{/if}