#{extends 'main.html' /}
#{set title:'Create Subscription' /}

<div class="page-header">
	<h1>New subscription</h1>
</div>

<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<strong>Create a new subscription : Subscribe to provider and save in the governance registry (if selected)</strong>
</div>

#{ifErrors}
	<div class="alert-message error">
        <a class="close" href="#">&times;</a>
        <p><strong>Some values are invalid, please fix them...</strong></p>
        <ul>
         #{errors}
       		<li>${error}</li>
   		#{/errors}
   		</ul>
      </div>
#{/ifErrors}

<div class="well">
#{form @SubscriptionsController.createNew()}
		<fieldset>
				<div class="clearfix">
        			<label for="consumer">
        				<a href="#" id="tooltip_consumer" rel="tooltip" data-original-title="Who will receive notifications">Subscriber endpoint</a>
     				</label>
        			<div class="input">
        				<input type="text" name="consumer" id="consumer" class="xlarge" size="50" value="${flash.consumer}"/>
        			</div>
        		</div>
        		<div class="clearfix">
        			<label for="provider">
        				<a href="#" id="tooltip_producer" rel="tooltip" data-original-title="Where to send subscription">Producer endpoint</a>
        			</label>
        			<div class="input">
        				<input type="text" name="provider" id="provider" class="xlarge" size="50" value="${flash.provider}"/>
        			</div>
        		</div>
        		<div class="clearfix">
        			<label for="producer">Topic Name</label>
        			<div class="input">
        				<input type="text" name="topicname" id="topicname" class="xlarge" size="50" value="${flash.topicname}"/>
        			</div>
        		</div>
        		<div class="clearfix">
        			<label for="topicprefix">Topic Prefix</label>
        			<div class="input">
        				<input type="text" name="topicprefix" id="topicprefix" class="xlarge" size="50" value="${flash.topicprefix}"/>
        			</div>
        		</div>
        		<div class="clearfix">
        			<label for="topicns">Topic Namespace</label>
        			<div class="input">
        				<input type="text" name="topicns" id="topicns" class="xlarge" size="50" value="${flash.topicns}"/>
        			</div>
        		</div>
	    		<div class="clearfix">
        			<label for="topicns">Save to registry</label>
        			<div class="input">
        				<input type="checkbox" name="save" id="save" class="xlarge"/>
        			</div>
        		</div>
	    		<div class="actions">
        			<input class="btn primary" type="submit" value="Create" />
        		</div>
        </fieldset>
#{/form}
</div>

#{set 'lastScripts'}
	<script>
	$('#tooltip_consumer').tooltip({placement : 'right'});
	$('#tooltip_producer').tooltip({placement : 'right'});
	</script>
#{/set}
