#{extends 'main.html' /}
#{set title:'Subscriptions' /}

<div class="page-header">
    <h1>Subscriptions</h1>
</div>

<div class="well">
	<a class="btn" href="@{SubscriptionsController.create()}">Create</a>&nbsp;<a class="btn danger" href="@{SubscriptionsController.removeAll()}">Remove All</a>
</div>

#{if subscriptions}

	<table class="zebra-striped">
        <thead>
          <tr>
          	<th>#</th>
            <th>Endpoints</th>
            <th>Topic</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
        #{list subscriptions, as : 's'}
          <tr>
          <td align="left">${s.id}</td>
            <td><b>Subscriber</b><br><a target="_blank" href="${s.subscriber}">${s.subscriber}</a><br><br><b>Provider</b><br><a target="_blank" href="${s.provider}">${s.provider}</a></td>
            <td>${s.topic}</td>
            <td>${s.date.asdate('dd MMMM yyyy hh:mm:ss')}</td>
          </tr>
        #{/list}
        </tbody>
      </table>
#{/if}
#{else}
	<h3>No subscriptions</h3>
#{/else}