#{extends 'main.html' /}
#{set title:'Topic details' /}

<div class="page-header">
    <h1>Topic Details &nbsp;<small>{${topic.ns}}${topic.prefix}:${topic.name}</small></h1>
</div>

<table class="zebra-striped">
	<thead>
        <tr>
          <th>Name</th>
          <th>Namespace</th>
          <th>Prefix</th>
        </tr>
      </thead>
      <tbody>
		<tr>
   			<td><b>${topic.name}</b></td>
   			<td><a href="${topic.ns}" target="_blank">${topic.ns}</a></td>
   			<td>${topic.prefix}</td>
		</tr>
	</tbody>
</table>