#{extends 'main.html' /}
#{set title:'Topic details' /}

<div class="page-header">
    <h1>Topic Details &nbsp;<small>{${ns}}${prefix}:${name}</small></h1>
</div>

<div class="well">
	<a href="@{SubscriptionsController.createFrom(name, ns, prefix)}" class="btn">Subscribe</a>
</div>

<table class="table table-striped">
	<thead>
        <tr>
          <th>Name</th>
          <th>Namespace</th>
          <th>Prefix</th>
        </tr>
      </thead>
      <tbody>
		<tr>
   			<td><b>${name}</b></td>
   			<td><a href="${ns}" target="_blank">${ns}</a></td>
   			<td>${prefix}</td>
		</tr>
	</tbody>
</table>