#{extends 'main.html' /} #{set title:'Create permission' /}

<ul class="breadcrumb">
  <li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
  <li><a href="@{GroupController.index()}">Groups</a> <span class="divider">/</span></li>
  <li class="active">New</li>
</ul>

<div class="page-header">
	<h1>Create a new group</h1>
</div>
<div class="well">
	#{form @GroupController.doCreate()}
	<fieldset>
		<div class="clearfix">
			<label for="name">Name</label>
			<div class="input">
				<input type="text" name="name" id="name" class="input-xxlarge" size="60" />
			</div>
			<label for="name">Description</label>
			<div class="input">
				<input type="text" name="description" id="description" class="input-xxlarge" size="60" />
			</div>
		</div>
		<div class="actions">
			<input class="btn primary" type="submit" value="Create" />
		</div>
	</fieldset>
	#{/form}
</div>