#{extends 'main.html' /} #{set title:'Group' /}

<ul class="breadcrumb">
  <li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
  <li><a href="@{GroupController.index()}">Groups</a> <span class="divider">/</span></li>
  <li class="active">${group.name}</li>
</ul>

<div class="page-header">
	<h1>${group.name}&nbsp;<small>${group.resourceURI}</small></h1>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Type</th>
			<th>Value</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		%{int i = 0}% #{list group.metadata, as : 'meta'}
		<tr>
			<td align="left">${i++}</td>
			<td>${meta.name}</td>
			<td>${meta.type}</td>
			<td>#{if meta.type == 'uri'}<a href="${meta.value}">${meta.value}</a>#{/if}#{else}${meta.value}#{/else}</td>
			<td>
				<a href="#" class="btn">Edit</a>&nbsp;
			</td>
		</tr>
		#{/list}
	</tbody>
</table>