#{extends 'main.html' /} #{set title:'Groups' /}

<ul class="breadcrumb">
  <li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
  <li class="active">Groups</li>
</ul>

<div class="page-header">
	<h1>Groups</h1>
</div>

<div class="well">
	&nbsp;<a href="@{GroupController.create()}" class="btn">Create</a>
</div>

#{if list}
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>ID</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		%{int i = 0}% #{list list, as : 'group'}
		<tr>
			<td align="left">${i++}</td>
			<td><a href="@{GroupController.group(group.name)}" target="_blank">${group.name}</a></td>
			<td align="left"><a href="${group.resourceURI}" target="_blank">${group.resourceURI}</a></td>
			<td>
				<a href="@{GroupController.group(group.name)}" class="btn">Details</a>&nbsp;
			</td>
		</tr>
		#{/list}
	</tbody>
</table>
#{/if}
