#{extends 'main.html' /} #{set title:'Create permission' /}

<ul class="breadcrumb">
  <li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
  <li><a href="@{PermissionController.index()}">Permissions</a> <span class="divider">/</span></li>
  <li class="active">New</li>
</ul>

%{ selectedStream = params.access + "#stream" }%
%{ selectedGroup = params.agent + "#group" }%

<div class="well">
  	<legend>Create a new Permission</legend>
	#{form @PermissionController.doCreate()}
	<fieldset>
		<div class="clearfix">
			<label for="name">Name</label>
			<div class="input">
				<input type="text" name="name" id="name" class="span8" />
			</div>
		</div>
		<div class="clearfix">
			<label class="control-label" for="access">
				<a href="#" id="tooltip_access" rel="tooltip" data-original-title="You can select multiple Streams using CTRL/CMD + click">Access To (Streams)</a>
			</label>
			<div class="input">
				<select multiple="multiple" class="span8" size="6" name="access" id="access">
					#{list streams, as : 'stream'}
					#{if stream == selectedStream}
	  				<option selected="selected">${stream}</option>					
					#{/if}
					#{else}
					<option>${stream}</option>					
					#{/else}
	  				#{/list}
				</select>
			</div>
		</div>
		<div class="clearfix">
			<label class="control-label" for="agent">
				<a href="#" id="tooltip_agent" rel="tooltip" data-original-title="You can select multiple Groups using CTRL/CMD + click">Agent (Groups)</a>
			</label>
			<div class="input">
				<select multiple="multiple" class="span8" size="6" name="agent" id="agent">
					#{list groups, as : 'group'}
					#{if group == selectedGroup}
	  				<option selected="selected">${group}</option>					
					#{/if}
					#{else}
					<option>${group}</option>					
					#{/else}
					#{/list}
				</select>
			</div>
		</div>
		<div class="clearfix">
			<label for="mode">Mode</label>
			<div class="input">
				<label class="checkbox">
  					<input type="checkbox" name="mode" value="read"/>Read Access
  				</label>
				<label class="checkbox">
  					<input type="checkbox" name="mode" value="write">Write Access
				</label>
				<label class="checkbox">
  					<input type="checkbox" name="mode" value="subcribe">Subscribe Access
				</label>
				<label class="checkbox">
  					<input type="checkbox" name="mode" value="notify">Notify Access
				</label>
			</div>
		</div>
		<div class="actions">
			<input class="btn primary" type="submit" value="Create" />
		</div>
	</fieldset>
	#{/form}
</div>

<div class="well" id="help">
	<h4>Access To</h4>
	Defines the resources <span class="label">Stream</span>&nbsp;<span class="label">Topic</span> you want to restrict access to.<br><br>
	For example :
	<ul>
		<li><a href="#">http://streams.event-processing.org/ids/FacebookStatusFeed#stream</a></li>
	</ul>

	<h4>Agent</h4>
	Defines the groups you want to create permission for i.e. only the
	groups defined here will have access to resources defined in Access.<br><br>
	For example:
	
	<ul>
		<li><a href="#">http://groups.event-processing.org/id/MyGroupB#group</a></li>
	</ul>

	<h4>Mode</h4>
	Defines the access mode (Read/Write/...).<br><br>
	Possible values are:
	<ul>
		<li><a href="#">http://www.w3.org/ns/auth/acl#Write</a> : Write access to resource</li>
		<li><a href="#">http://www.w3.org/ns/auth/acl#Read</a> : Read access to resource</li>
		<li><a href="#">http://www.w3.org/ns/auth/acl#Notify</a> : Notify access to resource</li>
		<li><a href="#">http://www.w3.org/ns/auth/acl#Subscribe</a> : Subscribe access to resource</li>
	</ul>

</div>

#{set 'lastScripts'}
	<script>
	$('#tooltip_access').tooltip({placement : 'right'});
	$('#tooltip_agent').tooltip({placement : 'right'});
	</script>
#{/set}
