#{extends 'main.html' /} #{set title:'Permissions' /}

<ul class="breadcrumb">
  <li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
  <li class="active">Permissions</li>
</ul>

<div class="page-header">
	<h1>Permissions</h1>
</div>

<div class="well">
	&nbsp;<a href="@{PermissionController.create()}" class="btn">Create</a>
	&nbsp;<a href="#" class="btn">Download</a>
</div>

#{if list}
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>ID</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		%{int i = 0}% #{list list, as : 'p'}
		%{String name = org.ow2.play.metadata.api.Helper.getID(p.resource)}%
		%{String uri = org.ow2.play.metadata.api.Helper.getURI(p.resource)}%
		<tr>
			<td align="left">${i++}</td>
			<td><a href="@{PermissionController.permission(name)}">${name}</a></td>
			<td><a target="_blank" href="${uri}">${uri}</a></td>
			<td>
				<a href="@{PermissionController.permission(name)}" class="btn">Details</a>&nbsp;
			</td>
		</tr>
		#{/list}
	</tbody>
</table>
#{/if}
