#{extends 'main.html' /} #{set title:'Resources' /}

<ul class="breadcrumb">
  <li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
  <li class="active">Resources</li>
</ul>

<div class="well">
	<a class="btn" href="@{MetadataController.create()}">Create</a>
</div>

#{if list}
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		%{int i = 0}% #{list list, as : 'r'}
		<tr>
			<td align="left"><a href="@{MetadataController.resource(r.resource.name, r.resource.url)}">${i++}</a></td>
			<td><a href="${r.resource.url}" target="_blank">${r.resource.url}#${r.resource.name}</a></td>
			<td>
				<a href="@{MetadataController.resource(r.resource.name, r.resource.url)}" class="btn">Details</a>&nbsp;
				<a href="@{MetadataController.deleteResource(r.resource.name, r.resource.url)}" class="btn btn-danger">Delete!</a>&nbsp;
			</td>
		</tr>
		#{/list}
	</tbody>
</table>
#{/if}
