#{extends 'main.html' /} #{set title:'Resources' /}

<div class="page-header">
	<h1>Resources</h1>
</div>

#{if list}
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		%{int i = 0}% #{list list, as : 'r'}
		<tr>
			<td align="left">${i++}</td>
			<td><a href="${r.resource.url}" target="_blank">${r.resource.url}#${r.resource.name}</a></td>
			<td>
				<a href="@{MetadataController.resource(r.resource.name, r.resource.url)}" class="btn">Details</a>&nbsp;
				<a href="@{MetadataController.deleteResource(r.resource.name, r.resource.url)}" class="btn btn-danger">Delete!</a>&nbsp;
			</td>
		</tr>
		#{/list}
	</tbody>
</table>
#{/if}
