#{extends 'main.html' /}
#{set title:'Resource details' /}

<ul class="breadcrumb">
  <li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
  <li><a href="@{MetadataController.list()}">Resources</a> <span class="divider">/</span></li>
  <li class="active">${resource.url}#${resource.name}</li>
</ul>

<div class="well">
	<a href="#addmeta" class="btn">Add Metadata</a>&nbsp;
	<a href="@{MetadataController.deleteResource(resource.name, resource.url)}" class="btn btn-danger">Delete!</a>&nbsp;
</div>

#{if resource.name == 'stream'}
<h5>Stream options</h5>
<div class="well">
	<a href="@{PermissionController.create()}?access=${resource.url}" class="btn">Create Permission</a>&nbsp;
</div>
#{/if}

#{if resource.name == 'group'}
<h5>Group options</h5>
<div class="well">
	<a href="@{PermissionController.create()}?agent=${resource.url}" class="btn">Create Permission</a>&nbsp;
	<a href="@{GroupController.group(utils.ResourceHelper.getGroupName(metaresource))}" class="btn">Details</a>&nbsp;
</div>
#{/if}

#{if resource.name == 'permission'}
<h5>Permission options</h5>
<div class="well">
	<a href="@{PermissionController.permission(utils.ResourceHelper.getPermissionName(metaresource))}" class="btn">Details</a>&nbsp;
</div>
#{/if}

#{if meta}
	<table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>[Type - Value]</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        #{list meta, as : 'm'}
          <tr>
            <td><a target="_blank" href="${m.name}">${m.name}</a></td>
            <td>
           		<ul>
            	#{list m.data, as : 'data'}
            		<li><code>${data.type}</code>&nbsp;#{if data.type == 'uri'}<a target="_blank" href="${data.value}">${data.value}</a>#{/if}#{else}${data.value}#{/else}</li>
            	#{/list}
            	</ul>
            </td>
			<td><a class="btn" href="@{MetadataController.removeMeta(resource.name, resource.url, m.name)}">Remove</a></td>
          </tr>
        #{/list}
        </tbody>
      </table>
#{/if}

<h2 id="addmeta">Add Metadata</h2>
<div class="well">
#{form @MetadataController.addMeta()}
		<fieldset>
				<div class="clearfix">
        			<label for="mname">Name (Use URI)</label>
        			<div class="input">
        				<input type="text" name="mname" id="mname" class="xlarge" size="30"/>
        			</div>
        		</div>
        		<div class="clearfix">
        			<label for="mtype">Type (<code>uri</code> or <code>literal</code>)</label>
        			<div class="input">
        				<input type="text" name="mtype" id="mtype" class="xlarge" size="30"/>
        			</div>
        		</div>        		
        		<div class="clearfix">
        			<label for="mvalue">Value</label>
        			<div class="input">
        				<input type="text" name="mvalue" id="mvalue" class="xlarge" size="30"/>
        			</div>
        		</div>
   				<input type="hidden" name="name" id="name" value="${resource.name}"/>
   				<input type="hidden" name="url" id="url" value="${resource.url}"/>
         		
	    		<div class="actions">
        			<input class="btn primary" type="submit" value="Create" />
        		</div>
        </fieldset>
#{/form}
</div>
