#{extends 'main.html' /}
#{set title:'Topic details' /}

<div class="page-header">
    <h1>Topic Details &nbsp;<small>{${topic.ns}}${topic.prefix}:${topic.name}</small></h1>
</div>

<table class="zebra-striped">
	<thead>
        <tr>
          <th>Name</th>
          <th>Namespace</th>
          <th>Prefix</th>
        </tr>
      </thead>
      <tbody>
		<tr>
   			<td><b>${topic.name}</b></td>
   			<td><a href="${topic.ns}" target="_blank">${topic.ns}</a></td>
   			<td>${topic.prefix}</td>
		</tr>
	</tbody>
</table>

#{if meta}
<h2>Metadata</h2>
	<table class="zebra-striped">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        #{list meta, as : 'm'}
          <tr>
            <td>${m.name}</td>
            <td>${m.value}</td>
			<td><a href="@{Application.removeMeta(topic.name, topic.ns, topic.prefix, m.name, m.value)}">Remove</a></td>
          </tr>
        #{/list}
        </tbody>
      </table>
#{/if}

<h2>Add Metadata</h2>
<div class="well">
#{form @Application.addMeta()}
		<fieldset>
				<div class="clearfix">
        			<label for="mname">Key</label>
        			<div class="input">
        				<input type="text" name="mname" id="mname" class="xlarge" size="30"/>
        			</div>
        		</div>
        		<div class="clearfix">
        			<label for="mvalue">Value</label>
        			<div class="input">
        				<input type="text" name="mvalue" id="mvalue" class="xlarge" size="30"/>
        			</div>
        		</div>
   				<input type="hidden" name="name" id="name" value="${topic.name}"/>
   				<input type="hidden" name="ns" id="ns" value="${topic.ns}"/>
   				<input type="hidden" name="prefix" id="prefix" value="${topic.prefix}"/>
         		
	    		<div class="actions">
        			<input class="btn primary" type="submit" value="Create" />
        		</div>
        </fieldset>
#{/form}
</div>
