<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-1.2.0.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/application.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="@{Application.index()}">Governance</a></h3>
          <ul>
            <!--- browse -->
            <ul class="nav secondary-nav">
              <li class="menu">
                <a href="#" class="menu">Topics</a>
                <ul class="menu-dropdown">
                  <li><a href="@{TopicsController.topics()}">All</a></li>
                  <li><a href="@{TopicsController.dsb()}">DSB</a></li>
                  <li><a href="@{TopicsController.subscriber()}">Platform Subscriber</a></li>
                  <li><a href="@{TopicsController.publisher()}">Platform Publisher</a></li>                  
                </ul>
              </li>
              
              <li class="menu">
                <a href="#" class="menu">Registry</a>
                <ul class="menu-dropdown">
                  <li><a href="@{RegistryController.services()}">Services</a></li>
                  <li><a href="@{RegistryController.load()}">Load</a></li>
                </ul>
              </li>
              
 			  <li class="menu">
                <a href="#" class="menu">Resources</a>
                <ul class="menu-dropdown">
                  <li><a href="@{MetadataController.list()}">List</a></li>
                  <li><a href="@{MetadataController.create()}">Create</a></li>
                  <li><a href="@{MetadataController.load()}">Load</a></li>
                  <li><a href="@{MetadataController.download()}" target="_blank">Download</a></li>
                </ul>
              </li>
              
               <li class="menu">
                <a href="#" class="menu">Subscriptions</a>
                <ul class="menu-dropdown">
                  <li><a href="@{SubscriptionsController.create()}">Create</a></li>
                  <li><a href="@{SubscriptionsController.subscriptions()}">List</a></li>
                </ul>
              </li>
              
              <li class="menu">
                <a href="#" class="menu">Bootstrap</a>
                <ul class="menu-dropdown">
                  <li><a href="@{BootstrapController.create()}">Create</a></li>
                  <li><a href="@{BootstrapController.subscriptions()}">Boot List</a></li>
                </ul>
              </li>
 
              <li class="menu">
                <a href="#" class="menu">Monitoring</a>
                <ul class="menu-dropdown">
                  <li><a href="@{MonitoringController.dsb()}">DSB</a></li>
                </ul>
              </li>
                           
            </ul>
          </ul>
          <ul class="nav secondary-nav">
          	<li>#{if currentNode}<a href="@{Application.connect()}">Connected to <b>${currentNode?.name}</b></a>#{/if}#{else}<a href="@{Application.connect()}"><b>Connect...</b></a>#{/else}</li>
          </ul>
        </div>
      </div> <!-- /fill -->
    </div>
    
  <div class="container">
  
  #{if flash.success}
	<div class="alert-message success">
        <a class="close" href="#">&times;</a>
        <p><strong>${flash.success}</strong></p>
      </div>
  #{/if}
  #{if flash.error}
	<div class="alert-message error">
        <a class="close" href="#">&times;</a>
        <p><strong>${flash.error}</strong></p>
      </div>
  #{/if}

     #{doLayout /}
  </div>
  </body>
</html>
